* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --main-color: #2c2c2c;
    --secondary-color: #bbbbbb;
    --white-color: #fff;
    --button-background: #e6e6e6;
    --box-shadow: rgba(46, 46, 46, 0.356);
}

html, body {
    background: var(--main-color);
}

body {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

svg {
    transition: 0.4s;
    transform: rotate(270deg);
}

svg > rect {
   animation: infinite bomm 1s;
}

svg > .sbo {
    animation: infinite sbo 1s;
}

@keyframes sbo {
    0% {
        cx: 380px;
    }
    25% {
        cx: 420px;
    }
    50% {
        cx: 450px;
    }
    75% {
        cx: 390px;
    }
    100% {
        cx: 550px;
    }
}

@keyframes bomm {
    0% {
        width: 400px;
    }
    25% {
        width: 350px;
    }
    50% {
        width: 400px;
    }
    75% {
        width: 350px;
    }
    100% {
        width: 400px;
    }
}